<header>
	<nav>
		<div class="logo">
			<h1>Green Goodies</h1>
			<img src="{{ asset('assets/images/Logo.svg') }}" alt="Green Goodies">
		</div>
		<ul>
			<li><a href="#">Nos produits</a></li>
			<li><a href="#">Mon panier</a></li>
			<li><a href="#">Mon compte</a></li>
			<li><a href="#">Déconnexion</a></li>
		</ul>
	</nav>
</header>
