{% extends 'base.html.twig' %}

{% block body %}
	{% include "layouts/navbar.html.twig" %}

	<main>
		<section id="product">
			<div class="image">
				<img src="{{ product.image }}" alt="description de l'image">
			</div>
			<div class="text">
				<h2>{{ product.name }}</h2>
				<p class="price">{{ product.priceConverded }}€</p>
				<div class="description">
					<h3>Description</h3>
					<p>{{ product.description }}</p>
				</div>
				<button>Ajouter au panier</button>
			</div>
		</section>
	</main>

	{% include "layouts/footer.html.twig" %}
{% endblock %}
