<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Green Goodies
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			{% include "layouts/navbar.html.twig" %}

			<div class="notification">
				{% for rubrique, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert-{{ rubrique }}">
							<p>{{ message }}</p>
							<button>x</button>
						</div>
					{% endfor %}
				{% endfor %}
			</div>

			<main>
				{% block body %}{% endblock %}
			</main>

			{% include "layouts/footer.html.twig" %}
			<script type="module" src="{{ asset('assets/jsMinify/main.min.js') }}"></script>
		</body>
	</html>
